<p class="flash-<%= flash_type %> alert-dismissible fade alert alert-<%= flash_props[:bootstrap_class] %>" style="<%= 'display: none;' if flash[flash_type].blank? %>">
  <%= flash[flash_type] %>
</p>
